.submit {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  
}

.formNewTweet {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: medium;
  
}



#submit {
  background-color: #4056A1;
  color: white;
}

#tweet-text {
  background: transparent;
  border: none;
  border-bottom: 5px solid grey;
  min-width: 300px;
}